<div class="home-option home-option-left">
  <div class="home-option-inner">
    <div class="home-option-description">
      <h1>Present</h1>
      <p>It's class time, #bitchez</p>

      <button class="home-back-button">Back</button>
    </div>
  </div>
</div>

<div class="home-option home-option-right">
  <div class="home-option-inner">
    <div class="home-option-description">
      <h1>Manage</h1>
      <p>Create, modify, and share presentations</p>

      <button class="home-back-button">Back</button>
    </div>
  </div>
</div>

<div class="home-content home-content-left">
  <div class="home-content-inner">
    <div class="home-content-item module" data-module="classroom-connection">
      <h1>Connect to the classroom</h1>
      <p>Before you can start presenting, you'll need to connect to the classroom whiteboard system.</p>
      <ol>
        <li>step one thing do</li>
        <li>step two do this</li>
      </ol>
    </div>
  </div>
</div>

<div class="home-content home-content-right">
  <div class="home-content-inner">
    <div class="home-content-item">
      item 1
    </div>
    <div class="home-content-item">
      item 2
    </div>
  </div>
</div>
